<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="A" value="Назначение" />
    <add key="B" value="Поставщик" />
    <add key="C" value="Название сериала" />
    <add key="D" value="Название эпизода (RUS)" />
    <add key="E" value="Название эпизода (LNG)" />
    <add key="F" value="Номер эпизода" />
    <add key="G" value="Дата поступления" />
    <add key="H" value="Специалист ОП" />
    <add key="I" value="Комментарий ОП" />
    <add key="J" value="Дата обработки ОП" />
    <add key="K" value="Статус" />
    <add key="L" value="Дата проверки ОТК" />
    <add key="M" value="Редактор ОТК" />
    <add key="N" value="Звук моно/стерео" />
    <add key="O" value="Комментарий ОТК" />
    <add key="P" value="Дата завершения цикла ОП+ОТК" />
    <add key="Q" value="Редактор ПЭП" />
    <add key="R" value="Дата заведения эфирной версии" />
    <add key="S" value="Язык" />
    <add key="T" value="Тип файла" />
    <add key="U" value="Имя файла" />
    <add key="V" value="Путь" />
    <add key="W" value="Размер, МБ" />
    <add key="X" value="Хронометраж, Ч:ММ:СС" />
    <add key="Y" value="Material id" />
    <add key="Z" value="Дата приема на хранение (на ленту)" />
    <add key="AA" value="Формат файла" />
    <add key="AB" value="Формат видео" />
    <add key="AC" value="Битрейт видео" />
    <add key="AD" value="Битрейт видео (постоянный/переменный)" />
    <add key="AE" value="Разрешение" />
    <add key="AF" value="Соотношение сторон" />
    <add key="AG" value="Развертка" />
    <add key="AH" value="Порядок полей" />
    <add key="AI" value="Частота кадров" />
    <add key="AJ" value="Начальный таймкод" />
    <add key="AK" value="Формат аудио1" />
    <add key="AL" value="Битрейт аудио1" />
    <add key="AM" value="Частота аудио1" />
    <add key="AN" value="Каналы аудио1" />
    <add key="AO" value="Глубина звука1" />
    <add key="AP" value="Формат аудио2" />
    <add key="AQ" value="Битрейт аудио2" />
    <add key="AR" value="Частота аудио2" />
    <add key="AS" value="Каналы аудио2" />
    <add key="AT" value="Глубина звука2" />
    <add key="AU" value="Формат аудио3" />
    <add key="AV" value="Битрейт аудио3" />
    <add key="AW" value="Частота аудио3" />
    <add key="AX" value="Каналы аудио3" />
    <add key="AY" value="Глубина звука3" />
    <add key="AZ" value="Формат аудио4" />
    <add key="BA" value="Битрейт аудио4" />
    <add key="BB" value="Частота аудио4" />
    <add key="BC" value="Каналы аудио4" />
    <add key="BD" value="Глубина звука4" />
    <add key="BE" value="Формат аудио5" />
    <add key="BF" value="Битрейт аудио5" />
    <add key="BG" value="Частота аудио5" />
    <add key="BH" value="Каналы аудио5" />
    <add key="BI" value="Глубина звука5" />
    <add key="BJ" value="Формат аудио6" />
    <add key="BK" value="Битрейт аудио6" />
    <add key="BL" value="Частота аудио6" />
    <add key="BM" value="Каналы аудио6" />
    <add key="BN" value="Глубина звука6" />
    <add key="BO" value="Формат аудио7" />
    <add key="BP" value="Битрейт аудио7" />
    <add key="BQ" value="Частота аудио7" />
    <add key="BR" value="Каналы аудио7" />
    <add key="BS" value="Глубина звука7" />
    <add key="BT" value="Формат аудио8" />
    <add key="BU" value="Битрейт аудио8" />
    <add key="BV" value="Частота аудио8" />
    <add key="BW" value="Каналы аудио8" />
    <add key="BX" value="Глубина звука8" />
    <add key="BY" value="Формат аудио9" />
    <add key="BZ" value="Битрейт аудио9" />
    <add key="CA" value="Частота аудио9" />
    <add key="CB" value="Каналы аудио9" />
    <add key="CC" value="Глубина звука9" />
    <add key="CD" value="Формат аудио10" />
    <add key="CE" value="Битрейт аудио10" />
    <add key="CF" value="Частота аудио10" />
    <add key="CG" value="Каналы аудио10" />
    <add key="CH" value="Глубина звука10" />
    <add key="CI" value="Формат аудио11" />
    <add key="CJ" value="Битрейт аудио11" />
    <add key="CK" value="Частота аудио11" />
    <add key="CL" value="Каналы аудио11" />
    <add key="CM" value="Глубина звука11" />
    <add key="CN" value="Формат аудио12" />
    <add key="CO" value="Битрейт аудио12" />
    <add key="CP" value="Частота аудио12" />
    <add key="CQ" value="Каналы аудио12" />
    <add key="CR" value="Глубина звука12" />
    <add key="CS" value="Формат аудио13" />
    <add key="CT" value="Битрейт аудио13" />
    <add key="CU" value="Частота аудио13" />
    <add key="CV" value="Каналы аудио13" />
    <add key="CW" value="Глубина звука13" />
    <add key="CX" value="Формат аудио14" />
    <add key="CY" value="Битрейт аудио14" />
    <add key="CZ" value="Частота аудио14" />
    <add key="DA" value="Каналы аудио14" />
    <add key="DB" value="Глубина звука14" />
    <add key="DC" value="Формат аудио15" />
    <add key="DD" value="Битрейт аудио15" />
    <add key="DE" value="Частота аудио15" />
    <add key="DF" value="Каналы аудио15" />
    <add key="DG" value="Глубина звука15" />
    <add key="DH" value="Формат аудио16" />
    <add key="DI" value="Битрейт аудио16" />
    <add key="DJ" value="Частота аудио16" />
    <add key="DK" value="Каналы аудио16" />
    <add key="DL" value="Глубина звука16" />
    <add key="DM" value="Цветовое пространство" />
    <add key="DN" value="Глубина цвета" />
    <add key="DO" value="Цветовой стандарт" />
    <add key="DP" value="Количество эфирных версий" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>